 Volume in drive C is OSDisk
 Volume Serial Number is C277-697F

 Directory of C:\Softwares\Java

04/24/2018  02:23 PM    <DIR>          .
04/24/2018  02:23 PM    <DIR>          ..
04/24/2018  02:23 PM                 0 config.xml
04/24/2018  09:02 AM               674 Hello.class
04/24/2018  08:47 AM               166 Hello.Java
04/24/2018  01:22 PM               597 index.html
04/24/2018  01:20 PM               546 readme.txt
04/24/2018  12:54 PM               692 Sample.class
04/24/2018  12:53 PM               175 Sample.java
               7 File(s)          2,850 bytes
               2 Dir(s)  45,788,557,312 bytes free
